<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>De noordelijke grens van het Romeinse Rijk</title>
</head>

<body>
    <main class="detail-main">
        <%- include('../partials/sidebar') %>
            <%- include('../partials/audioplayer') %>
                <div id="panorama">
                    <%- include('../partials/panoramaoverlay') %>
                </div>
                <%- include('../partials/hamburgermenu') %>
                    <div class="question-background">
                        <%- include('../partials/questionssceneone') %>
                            <%- include('../partials/questionsscenetwo') %>
                                <%- include('../partials/questionsscenethree') %>
                    </div>

    </main>
    <script src="scripts/read-along.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/panellumSetup.js"></script>
    <script src="scripts/detail.js"></script>
    <script src="scripts/end.js"></script>
</body>

</html>