<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head') %>
        <title>Romeinse Rijk in Nederland</title>
</head>

<body>
    <main class="detail-main">
        <%- include('../partials/sidebar') %>
            <%- include('../partials/audioplayer') %>
                <div id="panorama"></div>
                <div class="question-background">
                    <%- include('../partials/multiplechoicequestion') %>
                        <%- include('../partials/openquestion') %>
                </div>
    </main>
    <script src="scripts/read-along.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/panellumSetup.js"></script>
    <script src="scripts/detail.js"></script>
</body>

</html>